# Assignment 2 Machine Learning
## Multiple Linear Regression without using Scikit - Learn

# Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Dataset

In [2]:
data = pd.read_csv('home.txt', header = None, names =  ['size', 'bedroom', 'price'])
data.head()

   size  bedroom   price
0  2104        3  399900
1  1600        3  329900
2  2400        3  369000
3  1416        2  232000
4  3000        4  539900

# Assignment No 1

### Statistical summary of the data

In [3]:
data.describe()

              size    bedroom          price
count    47.000000  47.000000      47.000000
mean   2000.680851   3.170213  340412.659574
std     794.702354   0.760982  125039.899586
min     852.000000   1.000000  169900.000000
25%    1432.000000   3.000000  249900.000000
50%    1888.000000   3.000000  299900.000000
75%    2269.000000   4.000000  384450.000000
max    4478.000000   5.000000  699900.000000

### Data types

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   size     47 non-null     int64
 1   bedroom  47 non-null     int64
 2   price    47 non-null     int64
dtypes: int64(3)
memory usage: 1.2 KB

## Modeling

### Splitting Independent and Dependent Variable

In [5]:
X = data.iloc[:, :-1].values
y = data.iloc[:,  -1].values

### Splitting test and training dataset

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

### Feature Scaling

In [7]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

Feature scaling is necesseary because the independent variable has a different range in term of its value, so we will be using StandardScaler to have all the independent feature in the same range of scale. <br>
We use StandardScaler because its ensure all the features contribute equally to the analysis.

### Making The Model

In [8]:
class LinearRegression:
    def __init__(self):
        self.intercept_ = None
        self.coeff_ = None

    def fit(self, X, y):
        X = np.insert(X, 0, 1, axis = 1)
        betas = np.dot(np.dot(np.linalg.inv(np.dot(X.T, X)), X.T), y)
        self.intercept_ = betas[0]
        self.coeff_ = betas[1:]

    def predict(self, X):
        y_pred = np.dot(X, self.coeff_) + self.intercept_
        return y_pred

### Fitting

In [9]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

## Prediction

### Making Prediction

In [10]:
y_pred = regressor.predict(X_test)

## Evaluation

### Evaluation of the Model

In [11]:
from sklearn.metrics import r2_score, mean_absolute_error, root_mean_squared_error
print('Model Evaluation with R2Score: ', r2_score(y_test, y_pred))
print('Model Evaluation with MAE: ', mean_absolute_error(y_test, y_pred)) 
print('Model Evaluation with RMSE: ', root_mean_squared_error(y_test, y_pred))

Model Evaluation with R2Score:  0.6745515249932026
Model Evaluation with MAE:  68915.53254571007
Model Evaluation with RMSE:  76041.06166298369

In [12]:
np.printoptions(precision=2)
y_pred_reshaped = y_pred.reshape(-1, 1)
y_test_reshaped = y_test.reshape(-1, 1)
result = np.concatenate((y_pred_reshaped, y_test_reshaped), axis=1)
print(result)

[[362648.1885365  475000.        ]
 [480572.88080166 579900.        ]
 [318812.02080875 349900.        ]
 [461734.02531911 539900.        ]
 [412525.32235681 499998.        ]
 [337477.49648418 347000.        ]
 [407239.47702583 314000.        ]
 [214817.89907594 169900.        ]
 [287639.52622057 242900.        ]
 [328329.35744178 239999.        ]]

# Assignment No 2